header {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

@media screen and (max-width: 767px) {
  .icons-mob {
    fill: currentColor;
  }

.menu-button {
  outline: none;
  border: none;
  background: none;

&:active {
  color: $accent-text-color;
}
}

.menu-button .icon-cross {
  display: none;
}
.menu-button.is-open .icon-cross{
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  text-align: center;
  background-color: #ffffff;
  opacity: 0;
  pointer-events: none;

  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;


  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;

  &.is-open {
    opacity: 1;
    display: block;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    visibility: visible;
    pointer-events: initial;
  }
}
}
@media screen and (min-width:768px) {
  .menu-button {
    display: none;
  }
}