.hero {
    display: flex;
    align-items: center;
    max-width: 1600px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-position: center;
    background-size: cover;
    @media screen and (max-width: 767px){
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), 
        url(../img/hero-bg/header480.webp)}
  
    @media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx){
        background-image:linear-gradient(
          to right, 
          rgba(47,48,58,0.4), rgba(47, 48, 58, 0.4)), 
        url(../img/hero-bg/header480-2x.webp)
      }
    @media screen and (min-width: 768px){
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), 
        url(../img/hero-bg/header768.webp)}
        
    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx){
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), 
        url(../img/hero-bg/header768-2x.webp)}

    @media screen and (min-width: 1200px){
       background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), 
       url(../img/hero-bg/header1200.webp)}

    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx){
        background-image:linear-gradient(to right, rgba(47,48,58,0.4), rgba(47,48,58,0.4)), 
        url(../img/hero-bg/header1200-2x.webp)
      }
    }
  h1 {
    display: block;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    @media screen and (min-width: 768px){
      width: 360px;
      font-size: 26px;
    }
  
    @media screen and (min-width: 1200px){
      width: 696px;
      font-size: 44px;

  }
}

