.hero {
    display: flex;
    align-items: center;
    max-width: 1600px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-position: center;
    background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ), url(../img/headerimg.jpg);
    background-size: cover;
    background-color:rgba(47, 48, 58, 0.4);
  }
  
  h1 {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.363;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

