.button {
  width: 200px;
  height: 50px;

  background: $bg-but-col;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: inherit;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: $white-color;

  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  }
    
  .button:hover,
  .button:focus {
    color: $primary-text-color;
    background-color: $accent-text-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  }
    
  .button:active {
    color: $primary-text-color;
    background-color: $icon-color;
  }
  



  .button.footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      padding: 10px 29px;

      margin-right: auto;
      margin-top: 20px;
      margin-left: auto;


      transition: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 250ms;

      &.social-icons {
        fill: currentColor;
      }

      @media screen and (min-width: 1200px) {
        margin-left: 10px;
        margin-top: 0;
    }
  }

// Кнопки портфоліо
.button-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  align-content: space-around;

  color: $primary-text-color;
  
  & .btn {
    padding: 6px 22px;
  
    font-size:16px;
    font-weight: 500;
    line-height: 1.62;  
    color: $primary-text-color;
    background-color: #F5F4FA;
    border: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    outline: none;
  }
  & .item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 15px; 
  }

  @media screen and (min-width:768px){
    margin-bottom: 30px;

    justify-content: center;

    & .item:not(:last-child) {
      margin-right: 8px;
      margin-bottom: 0px;
    }
  }

  @media screen and (min-width:1200px){
    margin-top: 34px;
    margin-bottom: 50px;
    justify-content: center;
  }
}
.btn:hover,
.btn:focus {
  color: $white-color;
  background-color: $accent-text-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn:active {
  color: $p-text-color;
}
