.contacts-list {
@media screen and (max-width:1199px) {
  align-items: center;
  & li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width:1200px) {
  display: flex;
  align-items: center;
  margin-left: 305px;
  & li:last-child {
    margin-left: 30px;
}
}
}


  .contacts-item:hover,
  .contacts-item:focus {
    color: $accent-text-color;
  }
  
  .contacts-item:active {
    color: $p-text-color;
  }
  .envelope {
    width: 16px;
    height: 12px;
  }
  .smartphone {
    width: 10px;
    height: 15px;
  }
  .icon {
      margin-right: 10px;
      fill: currentColor;
  }
  
  .contacts-item {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $p-text-color;

    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;

    margin-bottom: 16px;
    margin-left: 24px;

    @media screen and (min-width:768px) {
        margin-bottom: 0px;
        margin-left: 0px;
    }
  }
  