.logo {

  font-family: 'Raleway', sans-serif;
  color: $primary-text-color;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
}
@media screen and (max-width:767px) {
  .header .logo{
    padding: 16px 0px;
  }
}
  @media screen and (min-width:768px) {
    .header .logo {
    padding: 26px 0px;
    
    font-size: 24px;
    line-height: 1.16;
    }
  }
  @media screen and (min-width:1200px){
    .header .logo {
    padding: 24px 0px;
    
    font-size: 26px;
    line-height: 1.192;
  }
  }
  
  .logo .logo-item {
    color: $accent-text-color;
  }

.address-footer .logo {
padding-bottom: 20px;
color: $white-color;
}