.menu-container {
padding: 60px 0px;

font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.166;
letter-spacing: 0.02em;

@media screen and (min-width:768px) {
  display: flex;
}
}

.site-nav {
margin-bottom: 60px;
  
    & li:not(:last-child) {
    margin-bottom: 40px;
  }
    & li {
    position: relative;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
   
  }
}
.link {
    position: relative;
    display: inline;

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
    &.current {
      color: $accent-text-color;
    }
    &:active {
      color: $p-text-color;
    }
    &.current::after {
        position: absolute;
        content: '';
        display: block;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $accent-text-color;
        border-radius: 2px;
      }
}